DATABASE_ABSTRACTOR_SERVICE_URL=https://ultron.akto.io
DATABASE_ABSTRACTOR_SERVICE_TOKEN=<YOUR_AKTO_API_TOKEN>
AZURE_BINARY_STORAGE_CONNECTION_STRING=<YOUR_AZURE_STORAGE_CONNECTION_STRING>
AKTO_LOG_LEVEL=INFO
