# GCP Project ID
gcp_project_id = "your-gcp-project-id"

# Apigee environment
apigee_environment = "prod"

# TCP syslog endpoint (data-ingestion-service)
data_ingestion_service_url = "your-syslog-ip:5140"